[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
collateral_vault = "6DXunQxjcEx6V978DDho6A4GoKVk39HrAVtjtLywSy4Q"

[programs.localnet]
collateral_vault = "6DXunQxjcEx6V978DDho6A4GoKVk39HrAVtjtLywSy4Q"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
test-devnet = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/devnet-test.ts"
